<!DOCTYPE html>
<html>
<head>  
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Album</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/album.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
</head>
<header>
    <img src="img/img-header.jpg" alt="" srcset="">
    <div id="mainMenu">
        <ul id="ulMenu">
            <li> 
                <a href="">Accueil</a>
                <div class="parallelogramme p1"></div>
            </li>
            <li> 
                <a href="">Actualités</a>
                <div class="parallelogramme p2"></div>
            </li>
            <li> 
                <a href="">Challenge</a>
                <div class="parallelogramme p3"></div>
            </li>
            <li> 
                <a href="">Inscriptions</a>
                <div class="parallelogramme p4"></div>
            </li>
            <li> 
                <a href="">Contact</a>
                <div class="parallelogramme p5"></div>
            </li>
        </ul> 
        
        <a href="#"><h1 id="responsiveMenu"> </h1></a> 
    </div>
</header>
<body>
    <main id="main_album">
        <h1> Nom de l'album</h1>   
        <hr class="surlignage">

        <div class="grid_album">
            <div class="cadre">
                <img class="image-albums" src="../img/IMAGES/3.jpg">
            </div>
            <div class="cadre">
                <img class="image-albums" src="../img/IMAGES/1.jpg">
            </div>
            <div class="cadre">
                <img class="image-albums" src="../img/IMAGES/2.jpg">
            </div>
            <div class="cadre">
                <img class="image-albums" src="../img/IMAGES/4.jpg">
            </div>
            <div class="cadre">
                <img class="image-albums" src="../img/IMAGES/1.jpg">
            </div>
            <div class="cadre">
                <img class="image-albums" src="../img/IMAGES/1.jpg">
            </div>
        </div>
    </main>
</body>
</html>