<html>
    <head>
        <link rel="stylesheet" href="/css/css.css">
        <link rel="stylesheet" href="/css/article.css">
    </head>

    <body>
        <main>
            <div class="titre">
                <h1>Annulation du Semi-Marathon du Carnaval</h1>
                <hr class="surlignage">
            </div>

            <article>
                <img src="/img/IMAGES/1.jpg" alt="" srcset="">
                <section>
                    <p class="italic">18 Janvier 2021 - Peutevynck Benoit</p>
                    <p>Suite a la crise sanitaire, le Semi-Marathon du Carnaval initialement prevu le 29 Mars 2020 est annulé.<br>
                        <br>
                        Nous avons décider de reporté le Semi-Marathon au 31 octobre 2021.<br>
                        <br>
                        En espérant que la situation sanitaire s'améliore d'ici la
                        et nous permettent d'organiser ce Semi-Marathon Label Régional qualificatif au championnat de France.<br>
                        <br>
                        D'ici prenet soi de vous et de vos proches.  </p>
                </section>
            </article>
    </body>
</html>