<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/css.css">
    </head>

    <!-- Le header et le menu du site -->

    <body>
        <header>
            <h1 id="title">Connexion a votre espace Individuelle</h1>
        </header>

        <section id="connexionIndividuelle">
            <form action="">
                <label for="">Pseudo :</label>
                <input type="text" name="" id="">

                <label for=""></label>
                <input type="password" name="" id="">
            </form>
        </section>
    </body>
</html>